@use 'abstracts' as *;

.pricing-plan {
  padding: 3rem 2.3rem 2rem;
  border-radius: .5rem;
  position: relative;
  max-width: 27.8125rem;
  margin: 0 auto 4rem;

  @include breakpoint-up('desktop') {
    margin-bottom: 0;
    flex: 0 0 calc(50% - 2rem);
  }

  &__title {
    margin-bottom: 1.0625rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 2.3rem;
    transform: translateY(-50%);
  }

  &__text {
    font-size: .9375rem;
    line-height: 1.7;
    margin-bottom: 1.625rem;
  }

  &__type {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: .8rem;
    position: relative;

    span {
      font-size: .9375rem;
      font-weight: normal;
      margin-bottom: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: .46875rem;
    }
  }

  &__features-list {
    list-style-type: none;
    margin: 0;
  }

  &__feature {
    position: relative;
    padding-left: 2rem;

    &:not(:last-child) {
      margin-bottom: .8rem;
    }
  }

  &__feature::before {
    content: '';
    position: absolute;
    background-size: contain;
    width: .75rem;
    height: 0.5625rem;
    left: 0;
    top: 0;
    transform: translateY(100%);
  }
}

.pricing-plan--free {
  background-color: $color-primary;
  color: $color-white;

  &::before {
    background: url('../assets/icon-free.svg');
    width: 2.875rem;
    height: 2.875rem;
  }
}

.pricing-plan--paid {
  background-color: $color-accent;
  color: $color-bg;
  padding: 4rem 2.3rem 3rem;

  &::before {
    background: url('../assets/icon-paid.svg');
    width: 3.1875rem;
    height: 4.0625rem;
  }
}

.pricing-plan--free .pricing-plan__feature::before {
  background: url('../assets/icon-check-free.svg') no-repeat;
}

.pricing-plan--paid .pricing-plan__feature::before {
  background: url('../assets/icon-check.svg') no-repeat;
}

.pricing-plan--free .pricing-plan__text {
  color: rgba($color-white, .6);
}

.pricing-plan--paid .pricing-plan__text {
  color: rgba($color-bg, .6);
}