@use 'abstracts' as *;

body {
  font-family: 'Manrope', sans-serif;
  background-color: $color-bg;
  color: $color-grey;

  &::after{
    position: absolute;
    width:0;
    height:0;
    overflow: hidden;
    z-index: -1;
    content:
    url('../assets/bg-footer-squiggle.svg')
    url('../assets/bg-hero-squiggle.svg')
    url('../assets/illustration-hero-left.svg')
    url('../assets/illustration-hero-mobile.png')
    url('../assets/illustration-hero-right.svg');
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

