$color-primary: hsl(206, 84%, 22%);
$color-accent: hsl(179, 80%, 58%);
$color-bg: hsl(230, 61%, 8%);
$color-grey: hsl(224, 14%, 53%);
$color-white: hsl(0, 0%, 100%);
$color-red: hsl(343, 100%, 58%);
$breakpoints-up: ("tablet": "42.25rem", "desktop" : "68rem");