@use 'abstracts' as *;

.pricing-plans {
  max-width: 57.375rem;
  margin: 0 auto;

  @include breakpoint-up('desktop') {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}